<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>test</title>
        <style>

            body{
                margin: auto;
                width: 50%;
            }
            img{
                display: flex;
                width: 150px;
            }

        </style>
    </head>
    <body>

        <h1>HAHA</h1>
        <div id="container"></div>
        <h1>HAHA</h1>
        <button onclick="refresh('products')">Let's have a button like this.</button>

    </body>
    <script>
        function httpGet(theUrl)
        {
            let getUrl = window.location;
            let baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + theUrl;
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            let response = JSON.parse(xmlHttp.responseText);
            return response;
        }

        function refresh(url){
            url = url instanceof String ? url : "products"
            let response = httpGet(url)
            let element = document.getElementById("container")

            let string = "<h3>"
            for (var i = 0; i < response.length; i++){
                let genres = []
                for (var j = 0; j < response[i].genre.length; j++){
                    genres.push(response[i].genre[j])
                }
                string += response[i].id + ") " +
                          response[i].name + " " +
                          "<img src='" + response[i].image + "'/>" +
                          response[i].category + "<br>" +
                          genres.join("<br>") + "<hr>"
            }
            element.innerHTML = string + "</h3>"
        }

        refresh()



    {#     POST FETCH      #}

        var accessToken = "";
        var refreshToken = "";
        async function postData(url = '', data = {}, headers = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: headers,
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // no-referrer, *client
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return await response.json(); // parses JSON response into native JavaScript objects
        };
        async function getData(url = '', headers = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'GET', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: headers,
                redirect: 'follow', // manual, *follow, error
                referrer: 'no-referrer', // no-referrer, *client
                body: null // body data type must match "Content-Type" header
            });
            return await response.json(); // parses JSON response into native JavaScript objects
        };
        function refreshToken(accessToken){
               data = await postData('http://0.0.0.0:8000/api/token/refresh/',
                                    { refresh: refreshedToken},
                                    { 'Content-Type': 'application/json',}
                                    );
               accessToken = 'Bearer ' + data.access;
               return accessToken
        }
        try {
              var data = await postData('http://0.0.0.0:8000/api/token/',
                                        { username:"kaan", password:"0538"},
                                        { 'Content-Type': 'application/json',
                                            // 'Content-Type': 'application/x-www-form-urlencoded',
                                        });
              accessToken = 'Bearer ' + data.access;
              refreshedToken = data.refresh;
              console.log(accessToken);
              //https://en.wikipedia.org/wiki/List_of_genres

              if (data.code !== "token_not_valid") {
                  data = await postData('http://0.0.0.0:8000/api/category/',
                      {name: "Film"},
                      {
                          'Content-Type': 'application/json',
                          'Authorization': accessToken
                          // 'Content-Type': 'application/x-www-form-urlencoded',
                      });
                  data = await postData('http://0.0.0.0:8000/api/genres/',
                      {name: "Horror"},
                      {
                          'Content-Type': 'application/json',
                          'Authorization': accessToken
                          // 'Content-Type': 'application/x-www-form-urlencoded',
                      });
                  data = await postData('http://0.0.0.0:8000/api/products/',
                      {
                          "name": "Paranormal Activity 1",
                          "category": "Film",
                          "genre": [
                              "Horror"
                          ],
                          "price": 7.5
                      },
                      {
                          'Content-Type': 'application/json',
                          'Authorization': accessToken
                          // 'Content-Type': 'application/x-www-form-urlencoded',
                      });

                  var image_url = ""
                  data = getData('http://0.0.0.0:8000/api/products/',
                      {
                          'Authorization': accessToken
                          // 'Content-Type': 'application/x-www-form-urlencoded',
                      });
                  data.then(function (response) {
                      if (response.name === "Paranormal Activity 1") {
                          image_url = response.url + "image/"
                      }

                  })

                  data = await postData(image_url,
                      {
                          image: img
                      },
                      {
                          'Content-Type': 'application/json',
                          'Authorization': accessToken
                          // 'Content-Type': 'application/x-www-form-urlencoded',
                      });
              }
              else{
                  accessToken = refreshToken(accessToken);
                  console.log("AccessToken is refreshed. TRY AGAIN!")
              }
        } catch (error) {
              console.error(error);
        }

    {#    END POST FETCH      #}

    </script>
</html>